<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h1>Letter From Camp:</h1>
    <p>Dear @Model.Relative,<br>
    I am having a(n) @Model.AdjectiveOne time at camp. The counselour is @Model.AdjectiveTwo and the food is @Model.AdjectiveThree. I met @Model.Name and we became @Model.AdjectiveFour friends. Unfortunately, @Model.Name is @Model.AdjectiveFive and I @Model.VerbinEd my @Model.BodyPart so we couldn`t go @Model.VerbinIng like everybody else. I need more @Model.NounPlural and a @Model.Noun sharpener, so please @Model.Adverb @Model.VerbOne more when you @Model.VerbTwo back.<br>
    Your @Model.RelativeTwo,
    @Model.PersonInRoom</p>
</div>
</body>
</html>